{% extends "@App/base.html.twig" %}

{% block content %}
    <div ng-controller="formController" ng-app="calcApp">
        <div class="py-5 text-center">
            <h2>Кредитный калькулятор</h2>
            <p class="lead">Расчет графика выплат по кредиту, вид платежа - аннуитетный. </p>
        </div>

        <div class="row justify-content-center">

            <div class="col-md-8 order-md-1" >
                {{ form_start(form, {attr: { "ng-submit":"submit()"}}) }}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.sum) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.period) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.interestRate) }}
                        </div>
                        <div class="col-md-6 mb-3">
                            {{ form_row(form.startDate) }}
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Calculate</button>
                {{ form_end(form) }}
            </div>
        </div>


        <table ng-hide="showTable" class="table table-striped table-bordered hg-hide">
            <thead>
            <tr>
                <td>Номер платежа</td>
                <td>Дата платежа</td>
                <td>Основной долг</td>
                <td>Проценты</td>
                <td>Общая сумма</td>
                <td>Остаток долга</td>
            </tr>
            </thead>
            <tr ng-repeat="row in schedule">
                <td ng-bind="row.paymentNumber"></td>
                <td ng-bind="row.date"></td>
                <td ng-bind="row.monthlyCreditPayment | number:2"></td>
                <td ng-bind="row.interestRatePayment | number:2"></td>
                <td ng-bind="row.monthlyPayment | number:2">{{ '{{ }}' }}</td>
                <td ng-bind="row.debt | number:2"></td>
            </tr>
        </table>
    </div>

    <script>
        angular.module('calcApp', [])
            .controller('formController', ['$timeout', '$scope', '$http', function($timeout, $scope, $http) {

                $scope.submit = function() {
                    $http({
                        method : "POST",
                        url : '{{ path('ajaxCalculate') }}',
                        data: {
                            sum:$scope.sum,
                            period: $scope.period,
                            interestRate:$scope.interestRate ,
                            startDate:$scope.startDate
                        }
                    }).then(function mySuccess(response) {
                        $timeout(function() {
                            $scope.schedule = response.data;
                            console.log($scope.schedule);
                        }, 0);

                    }, function myError(response) {
                        $scope.myWelcome = response.statusText;
                    });

                };
            }]);
    </script>
{% endblock %}
